<table mat-table [dataSource]="entries" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

    <!-- Name Column -->
    <ng-container matColumnDef="datetime">
        <th mat-header-cell *matHeaderCellDef> Datetime </th>
        <td mat-cell *matCellDef="let element"> {{element.datetime}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="sensor_id">
        <th mat-header-cell *matHeaderCellDef> Sensor ID </th>
        <td mat-cell *matCellDef="let element"> {{element.sensor.id}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="sensor_type">
        <th mat-header-cell *matHeaderCellDef> Sensor Type </th>
        <td mat-cell *matCellDef="let element"> {{element.sensor.type}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef> Value </th>
        <td mat-cell *matCellDef="let element"> {{element.value}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
