<app-header></app-header>
<mat-card>
    <mat-tab-group>
        <mat-tab label="Graph">
            <app-graph></app-graph>
        </mat-tab>
        <mat-tab label="Table">
            <app-data-table></app-data-table>
        </mat-tab>
    </mat-tab-group>
</mat-card>
<mat-card style="display: flex; justify-content: space-between;">
    <app-filter-collection></app-filter-collection>
    <button mat-raised-button color="primary">
        <mat-icon>document_scanner</mat-icon>
        Export as CSV
    </button>
</mat-card>
